@if (State.AktualniTerminId == null)
{
	<p><em>Termín není zvolen.</em></p>
}

<h2>Přihlášení</h2>
@if (State.Prihlaseni != null)
{
	<ul class="listview fluid">
		@foreach (var prihlaseny in State.Prihlaseni)
		{
			<li class="outline-color-blueDark">
				<div class="icon">
					<span class="icon-user-index fg-color-blueLight">@(State.Prihlaseni.IndexOf(prihlaseny) + 1)</span>
				</div>
				<div class="data">
					<h4 class="@(prihlaseny.Id == PrefferedOsobaId ? "strong" : "")">@prihlaseny.PrijmeniJmeno</h4>
					<a @onclick="@(_ => Odhlasit(prihlaseny))">odhlásit z termínu</a>
				</div>
			</li>
		}
	</ul>

	@if (State.Prihlaseni.Count == 0)
	{
		<p>Na tento termín není nikdo přihlášen.</p>
	}
}

<h2>Nepřihlášení</h2>
@if (State.Neprihlaseni != null)
{
	<ul class="listview fluid">
		@foreach (var neprihlaseny in State.Neprihlaseni)
		{

			<li class="outline-color-orangeDark">
				<div class="icon" style="margin-top: 0.5em;">
					<i class="icon-user fg-color-orange"></i>
				</div>
				<div class="data">
					<h4 class="@(neprihlaseny.Id == PrefferedOsobaId ? "strong" : "")">@neprihlaseny.PrijmeniJmeno</h4>
					<a @onclick="@(_ => Prihlasit(neprihlaseny))" CssClass="fg-color-orange " runat="server">přihlásit na termín</a>
				</div>
			</li>
		}
	</ul>

	@if (State.Neprihlaseni.Count == 0)
	{
		<p>Všichni jsou přihlášeni.</p>
	}
}



