@using KandaEu.Volejbal.Contracts.Nastenka.Dto;
@using KandaEu.Volejbal.Web.WebApiClients;

@inject INastenkaWebApiClient NastenkaWebApiClient
@inject IOsobaWebApiClient OsobaWebApiClient

@page "/nastenka"

@if ((State.AktivniOsoby != null) && (State.Vzkazy != null))
{
	if (State.Vzkazy.Count == 0)
	{
		<p>Na nástěnce není žádný aktuální vzkaz.</p>
	}
	else
	{
		foreach (var vzkaz in State.Vzkazy)
		{
			<blockquote>
				<small>@vzkaz.Author dne @vzkaz.DatumVlozeni.DateTime.ToShortDateString() v @vzkaz.DatumVlozeni.DateTime.ToShortTimeString()</small>
				<p>@vzkaz.Zprava</p>
			</blockquote>
			<div>&nbsp;</div>
		}
	}

	<h2 class="icon-plus-2">Přidat vzkaz</h2>

	<EditForm Model="@formData" OnValidSubmit="OnValidSubmitAsync">
		<ValidationSummary />
		<DataAnnotationsValidator />

		<h3>Kdo</h3>
		<div class="input-control select">
			<InputSelectNumber @bind-Value="@formData.AutorId" style="width:20em;">
				<option value="" selected="selected">---</option>
				@if (State.AktivniOsoby != null)
					{
					@foreach (var osoba in State.AktivniOsoby)
						{
						<option value="@osoba.Id">@osoba.PrijmeniJmeno</option>
						}
					}
			</InputSelectNumber>
		</div>

		<h3>Vzkaz</h3>
		<div class="input-control textarea">
			<span></span>
			<InputTextArea @bind-Value="@formData.Zprava" rows="5" cols="20" style="width:30em;" />
		</div>

		<input type="submit" value="přidat vzkaz" class="bg-color-red fg-color-white" />

	</EditForm>
}
