@using KandaEu.Volejbal.Contracts.Nastenka.Dto;
@using KandaEu.Volejbal.Web.WebApiClients;

@inject INastenkaWebApiClient NastenkaWebApiClient
@inject IOsobaWebApiClient OsobaWebApiClient

@page "/nastenka"

<PageTitle>Volejbal - Nástěnka</PageTitle>

@if ((State.AktivniOsoby != null) && (State.Vzkazy != null))
{
    @if (State.Vzkazy.Count == 0)
    {
        <p>Na nástěnce není žádný aktuální vzkaz.</p>
    }
    else
    {
        @foreach (var vzkaz in State.Vzkazy)
        {
            <div class="vzkaz-item">
                <small>— @vzkaz.Author dne @vzkaz.DatumVlozeni.ToShortDateString() v @vzkaz.DatumVlozeni.ToShortTimeString()</small>
                <p class="mb-0">@vzkaz.Zprava</p>
            </div>
        }
    }

    <h2><i class="bi bi-plus-circle me-1"></i>Přidat vzkaz</h2>

    <EditForm Model="@formData" OnValidSubmit="OnValidSubmitAsync">
        <ValidationSummary class="validation-message" />
        <DataAnnotationsValidator />

        <HxSelect TItem="KandaEu.Volejbal.Contracts.Osoby.Dto.OsobaDto"
                  TValue="int?"
                  Label="Kdo"
                  Data="@State.AktivniOsoby"
                  @bind-Value="@formData.AutorId"
                  TextSelector="@(o => o.PrijmeniJmeno)"
                  ValueSelector="@(o => (int?)o.Id)"
                  NullText="---"
                  Nullable="true"
                  InputSize="InputSize.Regular" />

        <HxInputTextArea Label="Vzkaz"
                         @bind-Value="@formData.Zprava"
                         Rows="5" />

        <HxSubmit Text="přidat vzkaz" Color="ThemeColor.Danger" />
    </EditForm>
}
